body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

#mySubmit{
    font-size: 0.5em;
    border-radius: 5px;
    padding: 5px 15px;
}

#mySubmit:hover{
    background-color: #9ebaa5;
    color: #0e0e0e;
    cursor: pointer;
}